<a href="https://colab.research.google.com/github/luisbezerra1/Data-Science-/blob/master/data_science13_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
filmes = pd.read_csv('movies.csv')
notas = pd.read_csv('ratings.csv')

In [6]:
filmes.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [8]:
notas.head(2)

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247

In [10]:
notas.ratin.query('movieId == 1')
notas_Jumangi.query('movieId== 2')
print(len(notas_toy_story), len(notas_Jumangi))

NameError: ignored